# Core Deep Learning
torch
torchvision

# Machine Learning / NLP
scikit-learn
joblib

# Data & Math
numpy
pandas

# Visualization
matplotlib
seaborn

# Image Processing
Pillow

# Config / Utilities
PyYAML

# Dataset Download
kagglehub

# UI / Demo
gradio

# Progress bar
tqdm